.direccion{
    color: white;
    margin: auto;
    text-transform: uppercase;
}

.mapa{
    display: flex;
    justify-content: center;
    margin: 100px auto 30px auto;
}

.ubicacion{
    border-radius: 10px;
}