/* Estetica Grecia */
.logo-img{
    height: 400px;
    width: 600px;
    margin: 150px auto 150px auto;

    background-image: url(../../img/eg-ps-bl.png);
    background-size: cover;
}
/* Barra */
.barrita{
    border-top: 2px solid white;
    width: 150px;
    margin: 25px auto auto auto;
}